services:
  node-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node-server
    ports:
      - "7000:7000"
    restart: unless-stopped
    environment:
      NODE_ENV: production
